---
layout: layout.liquid
title: About The Solo Space Adventurer
---

<h2>About the Solo Space Adventurer</h2>
<!-- Image from: https://pixabay.com/photos/astronaut-space-galaxy-universe-7787907/ -->

{% blog_post '<img src="/images/astronaut.jpg" alt="Astronaut admiring the view from a distant planet" loading="lazy">' 'Hello everyone! I am the solo space adventurer. Outer space has been my home for more than 8 years now. I was sent on an expedition to explore the universe and report my findings. However, I lost signal with Earth back in the year 2029 after a small rock from an asteroid field destroyed my communication antenna. This website, or journal, is what I do in the meantime in the hopes that someone will find these stories one day. I will continue my mission as long as I am alive, and hope to find something that can create a better future for humanity. If anyone is reading this, I may be long gone, but I hope my findings prove some worth. Safe travels!' %}