---
layout: layout.liquid
title: The Solo Space Adventurer
---

<br>
<br>
<br>
<div class="blog_post">
    <div class="blog_image">
        <!-- Image from: https://images.nasa.gov/details/GSFC_20171208_Archive_e001518 -->
        <img src="/images/nebula2.jpg" alt="Horsehead Nebula" loading="lazy">
    </div>
    <div class="description">
        <p>
            Out here in space, there not always much going on, especially being by myself. However, there are some adventures and events worth writing about. If you are interested, and this site does reach Earth, please indulge yourself in reading about the times worth writing about:<br><br><a href="/blog_post1/" title="Blog 1">Fast Food in Space?</a><br><a href="/blog_post2/" title="Blog 2">The Universe's Best Friend</a>
        </p>
    </div>
</div>