---
title: The Solo Space Adventurer
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/styles/screen.css">
</head>
<body>
  <header>
      <img src="/images/nebula.png" alt="James Webb Space Telescope NIRCam Image of the &quot;Cosmic Cliffs&quot; in Carina Nebula" loading="lazy" />
  </header>
  <nav>
    <ul>
      <h1>The Solo Space Adventurer</h1>
      <li><a href="/" title="Go home">Home</a></li>
      <li><a href="/about/" title="About the Solo Space Adventurer">About</a></li>
    </ul>
  </nav>
    {{ content }}
  <footer>
      <p>&#xA9; Copyright The Solo Space Adventurer</p>
  </footer>
</body>
</html>